@import "~src/variables.scss";
:host {
  display: block;
  margin: 0 auto;
}
app-device-info-card {
  display: block;
  position: relative;
  z-index: 1;
}
.controls {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-top: 2em;
  margin: 0 1em;
  margin-top: -2em;
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  .control {
    padding: 1em 0;
    border-bottom: solid 1px $color-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .property {
      font-size: 0.75em;
      font-weight: bold;
    }
    .property-controls {
      //   padding: 1em 0 1em 1em;

      //   background: #ccc;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 640px) {
  :host {
    width: calc(50%);
  }
}

.btn {
  border: none;
  background: transparent;
  height: 2.5em;
  width: 2.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25em;
  cursor: pointer;
  &.power {
    white-space: nowrap;
    border: 1px solid #a1a1a1;
    width: auto;
    font-size: 0.75em;
    i {
      font-size: 1.25em;
      margin-right: 0.5em;
    }
  }
  &:active {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15) inset;
  }
}
.value {
  padding: 1em;
}
.mode-button {
  border: solid 0.5px #a1a1a1;
  margin: 0.25em;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  height: 2em;
  width: 2em;
  cursor: pointer;
  &.active {
    height: 2.5em;
    width: 2.5em;
    margin: 0;
    border: solid 2px #2b2b2b;
  }
}
