<div class="page-width">
  <div class="device-list">
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
    <div class="device-card">test</div>
  </div>
</div>
