@import "~src/variables";
header {
  background: $color-primary;
  color: #ffffff;
  position: sticky;
  top: 0;
  .page-width {
    display: flex;
    align-items: center;
    padding-right: 0;
    .title {
      flex: 1;
      font-weight: bold;
      & > * {
        font-size: 1.25em;
      }
    }
    .discover {
      padding: 1.25em;
      cursor: pointer;
      transition: all 0.1s linear;
      &:active {
        background: $color-primary-light;
      }
    }
  }
}

@media (pointer: fine) {
  .discover {
    &:hover {
      background: $color-primary-light;
    }
  }
}
