@import "~src/variables.scss";
:host {
  display: block;
  margin: 0 auto;
}
app-device-info-card {
  display: block;
  position: relative;
  z-index: 1;
}
.controls {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-top: 2em;
  margin: 0 1em;
  margin-top: -2em;
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  .control {
    padding: 1em 0;
    border-bottom: solid 1px $color-secondary;
    .row {
      display: flex;
      justify-content: space-between;
      &.center {
        justify-content: center;
      }
      &.space-evenly {
        justify-content: space-evenly;
      }
      &.space-between {
        justify-content: space-between;
      }
      &.gap-top {
        margin-top: 1em;
      }
      .button {
        border: solid 0.5px #a1a1a1;
        margin: 0.5em;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2.5em;
        width: 2.5em;
        cursor: pointer;
        &:active {
          transform: scale(1.1);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          padding: 0.5em;
        }
        &.red {
          background: $color-danger;
        }
        &.green {
          background: $color-success;
        }
        &.yellow {
          background: $color-warning;
        }
        &.blue {
          background: $color-info;
        }
      }
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 640px) {
  :host {
    width: calc(50%);
  }
}
